@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap');
body{
    font-family: 'Lato', sans-serif;
}

.title{
    font-family: 'Lato', sans-serif;
}

.title-section{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.overflow-catitos{
    max-height: 380px;
    border: 1px solid #ddd;
    display: flex;
    overflow-x: scroll;
    width: 90vw;
    margin: 0px auto;
    gap: 10px;
    border-radius: 10px;
}

.card-catitos{
    min-width: auto;
}

/* Esto oculta la barra de scroll en el navegador que estemos y el elemento seleccionado */
.overflow-catitos::-webkit-scrollbar{
    width: 0px;
}