html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
}

h1, h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.caja{
    height: 850px;
    color: #fff;
}

.caja h5{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.caja a{
    color: #fff;
}
#inicio{
    background-color: #2F2963;
}

#servicios{
    background-color: #454372;
}

#contacto{
    background-color: #70877F;
}

.tercio{
    height: 33%;
    width: 100%;
}
.sesenta{
    height: 50%;
    width: 100%;
}

.auto-bottom{
    height: 10px;
    margin-top: auto;
}

.caja nav ul {
    margin: 0;
}