html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
}

h1, h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
a{
    text-decoration: none;
}
.caja{
    height: 100vh;
    width: 100vw;
    color: #fff;
}

.caja h5{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.center-text{
    width: 100%;
    height: 80%; 
    display:flex;
    align-items: center;
    justify-content: center;
}
main.caja div:nth-child(2){
    height: 20%;
}

.go-section{
    position: relative;
    height: 10%;
    width: 100%;
}

.go-section .arrow{
    position: relative;
    bottom: 15%;
    display: block;
    height: 50%;
    width: 30px;
    margin: 0px auto;
}

.caja a{
    color: #fff;
}
#inicio{
    background-color: #2F2963;
}

#servicios{
    background-color: #454372;
}

#contacto{
    background-color: #70877F;
}

.caja nav ul {
    margin: 0;
}