@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap');
*{
    box-sizing: border-box;
}
html, *{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

body{
    width: 100vw;
    background-size: 50px 50px;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100vw;
    height: 60px;
    background-color: #5B4B49;
    z-index: 1;
}


.nav .logo{
 width: 60px;   
 height: 60px;   
 display: inline-block;
 border-radius: 50%;
 border: 4px solid #F7BFB4;
 background-color: #fff;
}

.nav div{
    position: relative;
    width: calc(100vw - 110px);
    float: right;
    top: 40%;
}
.nav_list{
    display: inline-block;
    list-style: none;
}
.nav_list li{
    display: inline-block;
    margin-left: 5px;
}

.nav_list .go_section{
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}
.nav_list .go_section:hover{
    color: #F7B2B7;
}
.section{
    width: 100%;
    height: 100vh;
    padding-top: 65px;
}

.section > div:first-child{ 
    width: 95%;
    background-color: #F7BFB4;
    background-size: 50px 50px;
    backdrop-filter: blur(0.5px);
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 1px;
    border-style: solid;
    border-color: #5B4B49;
    border-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
}
.section h2{
    color: #5B4B49;
}
.section > .contenido{
    width: 95%;
    height: calc(100% - 65px);
    max-height: max-content;
    background-color: #fff;
    padding-left: auto;
    padding-right: auto;
}

.productos{
    border-radius: 5px;
    border: 1px;
    border-top: 0px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 5px 5px;
    border-color: #5B4B49;
}

.contenido > .fila{
    position: relative;
    width: 95%;
    height: 33.00%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
}
.contenido > .fila:first-child{
    margin-top: 2px;
}

.contenido .fila .item{
    width: 33%;
    height: 100%;
    background-color: pink;
    display: inline-block;
    padding-bottom:auto ;
    padding-left: 10px;
    border-radius: 3px;
}

.contenido > .presentacion {
    float: left;
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.fila .item > .info{
    height: calc(100% - 100px)
}
.fila .item > .precio{
    height: 100px;
}
.fila .item > .info > div{
    display: inline-block;
    width: calc(100% - 100px);
    height: 100px;
}
.fila .item .info img{
    float: right;
    width: 100px;
    height: 100px;
}

.error_back{
    background-color: #fcfdfd;
}
.error{
    display: block;
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.msg_error{
    text-align: center;
}

section.section>div.titulo_simple{
    width: 95%;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 0px;
    border-style: solid;
    border-color: none;
    border-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
}

